<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    
  <test name="Sample Login Test">
    <parameter name="Browser" value="Chrome"/>
    <parameter name="Remote" value="False"/>
      <classes>
      <class name="testCases.Sample"/>
      </classes>
  </test> <!-- Test --> 
    <!-- Test -->
    <test name="Sample Login Test2">
        <parameter name="Browser" value="Firefox"/>
        <parameter name="Remote" value="False"/>
        <classes>
        <class name="testCases.Sample"/>
        </classes>
  </test>
</suite> <!-- Suite -->